*,
::before,
::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    color: #efefef;
    background: #000;
}

.material-icons {
    vertical-align: middle;
}

#wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.hide-ui {
        .chframe {
            .control {
                visibility: hidden;
                opacity: 0;
            }
        }

        #control {
            visibility: hidden;
            opacity: 0;
        }

        &,
        & * {
            cursor: none !important;
        }
    }

    &.hide-info {
        .chframe {
            .broadcast-wrap {
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}

#chlist {
    width: 177.78vh;
    max-width: 100%;
    height: 56.25vw;
    max-height: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    &.choiced {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);

        > .chframe.listening {
            grid-column: 1 / 4;
            grid-row: 1 / 4;

            .broadcast-wrap {
                font-size: x-large;
            }

            .broadcast-channel-box {
                gap: 4px;
                top: 3px;
                left: 6px;
                z-index: 1;
                background-color: transparent;
                font-size: x-large;

                .broadcast-logo {
                    width: 56px;
                    height: 32px;
                }
            }

            .broadcast-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 4px;
                top: 0;
                bottom: auto;
                height: auto;
                padding: 8px 8px 8px 110px;
                border-radius: 4px;

                .broadcast-time {
                    flex-shrink: 0;
                    position: static;
                    font-size: large;
                }
            }
        }
    }

    > .chframe {
        position: relative;
        cursor: pointer;

        &:hover {
            .broadcast-title {
                height: calc(1.2em * 3);
            }
        }

        video {
            width: 100%;
            height: 100%;
            display: block;
        }

        .broadcast-wrap {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            font-size: medium;
            visibility: visible;
            opacity: 1;
            transition:
                opacity 0.3s,
                visibility 0.3s;
        }

        .broadcast-channel-box {
            display: flex;
            align-items: center;
            gap: 2px;
            position: absolute;
            top: 2px;
            left: 2px;
            padding: 1px 2px;
            background-color: #00000099;
            border-radius: 4px;
            font-size: small;

            .broadcast-logo {
                width: 28px;
                height: 16px;
                object-fit: cover;
                border-radius: 2px;
            }
        }

        .broadcast-title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            line-height: 1.2;
            height: 1.2em;
            background: rgba(0, 0, 0, 0.5);
            transition: height 0.5s;
            overflow: hidden;

            .broadcast-time {
                position: absolute;
                top: 3em;
                right: 0;
                font-size: small;
            }
        }

        .control {
            position: absolute;
            right: 0;
            bottom: 1.2em;
            visibility: hidden;
            opacity: 0;
            transition:
                bottom 0.3s,
                opacity 0.3s,
                visibility 0.3s;
            user-select: none;

            > * {
                display: inline-block;
            }
        }

        &:hover .control {
            bottom: calc(1.2em * 3);
            visibility: visible;
            opacity: 1;
        }
    }
}

#control {
    position: fixed;
    right: 0;
    bottom: 0;
    visibility: visible;
    opacity: 1;
    transition:
        opacity 0.3s,
        visibility 0.3s;
    user-select: none;

    > * {
        display: inline-block;
    }

    > a {
        text-decoration: none;
        line-height: 40px;
    }
}

.btn {
    min-width: 40px;
    height: 40px;
    background: transparent;
    color: #efefef;
    border: none;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.8;
}

.togglesw {
    position: relative;

    input[type="checkbox"] {
        position: absolute;
        inset: 0;
        margin: 0;
        opacity: 0;
        cursor: pointer;

        &:checked + label {
            color: #2d96ff;
        }
    }

    label {
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 40px;
        transition: color 0.2s;
    }
}

@media (orientation: portrait), screen and (max-width: 480px) {
    html,
    body,
    #wrap {
        height: auto;
    }

    #chlist {
        display: block;
        height: auto;
        max-height: none;
    }

    #control {
        margin: 10px;
        background: rgba(64, 64, 64, 0.8);
        border-radius: 3px;

        &.slide {
            transform: translateY(-60px);
        }
    }

    .btn {
        padding: 1px 6px;
    }
}
